.button {
    color: teal;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    font-size: 20px;
}

.button:disabled {
    color: hsl(0, 0%, 50%);
}
@media (max-width: 700px) {
   
    .allTasksButtons {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .button {
        flex-basis: 700px;
        margin: 20px auto;
    }
}